[Unit]
Description=Hauler Rancher %I Service

[Service]
Type=simple
KillMode=process
Environment="HOME=/shares/hauler"
ExecStart=/usr/local/bin/hauler store -s rancher/rancher-store serve %i -c config.yml
WorkingDirectory=/shares/hauler
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
