[Unit]
Description=Hauler Rancher %I Service

[Service]
Type=simple
KillMode=process
Environment="HOME=/shares/hauler"
ExecStartPre=/bin/bash check-hauler-fileserver.sh
ExecStart=/usr/local/bin/hauler store -s rke2/rke2-store serve %i
WorkingDirectory=/shares/hauler
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
